.section-custom-showroom-banner {
  margin: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

.custom-showroom-banner {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Top Content Section */
.showroom-banner__content {
  width: 100%;
  padding: 30px 20px;
  text-align: center;
}

.showroom-banner__heading {
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 16px 0;
  padding: 0;
}

.showroom-banner__subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #00000099;
  margin: 0;
  padding: 0;
}

/* Image Section */
.showroom-banner__image-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.showroom-banner__link {
  display: block;
  width: 100%;
}

.showroom-banner__image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.showroom-banner__placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showroom-banner__placeholder svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tablet Styles */
@media screen and (min-width: 750px) {
  .showroom-banner__content {
    padding: 50px 40px;
  }

  .showroom-banner__heading {
    font-size: 36px;
  }

  .showroom-banner__subheading {
    font-size: 16px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 990px) {
  .showroom-banner__content {
    padding: 50px 60px;
  }

  .showroom-banner__heading {
    font-size: 36px;
  }

  .showroom-banner__subheading {
    font-size: 16px;
  }
}
